<%- include("partials/header") %>

<div class="container">
	<div class="jumbotron mt-5">
		<h1>Here are some of the movies matching your keyword</h1>
		<a class="btn btn-primary" href="/">Go Back</a>
	</div>

	<div class="row">
		<% data.Search.forEach(function(movie) { %>	
			<div class="col-6 col-lg-3">
				<a href="/results/<%= movie.imdbID %>">
					<div class="card nb m-3">
						<img src="<%=movie.Poster%>" class="card-img-top">
						<div class="card-title text-center mt-2 bl"><strong><%= movie.Title %> (<%=movie.Year%>)</strong></div>
					</div>
				</a>
			</div>	
		<% }) %>
	</div>
</div>

<%- include("partials/footer") %>
